[user]
	email = fork_killet@qq.com
	name = ForkΨKILLET
[credential]
	helper = store
[core]
	editor = env vim
	pager = delta
	commentChar = "#"
[init]
	defaultBranch = main
[pull]
	rebase = false
[http]
	proxy = http://127.0.0.1:1641
	sslverify = false
[alias]
	m	= !vim ~/.gitconfig						# Manage
	ma	= !vim ./.github/workflows/*			# Manage Action
	l	= log --graph --all						# Log
	la	= log -1 HEAD							# Log lAst
	lo	= log --graph --all --oneline			# Log Oneline
	lr	= reflog								# RefLog
	s	= status								# Status
	d	= diff									# Different
	dc	= diff --cached							# Different Cached
	da	= diff --cached HEAD~					# Different lAst
	a	= add									# Add
	aa	= add .									# Add All
	ac	= !git aa && git c						# Add all and Commit
	ac0	= !HUSKY=0 git ac						# Add all and Commit with HUSKY=0
	rmc	= rm --cached							# Remove Cached
	c	= commit								# Commit
	ca	= commit --amend						# Commit Amend
	ca0	= !HUSKY=0 git commit --amend			# Commit Amend with HUKSY=0
	aca	= !git aa && git ca						# Add all and Commit Amend
	aca0= !HUSKY=0 git aca						# Add all and Commit Amend with HUSKY=0
	co	= checkout								# CheckOut
	b	= branch								# Branch
	bs	= switch								# Branch Switch
	p	= push									# Push
	rem	= remote								# REMote
	ig	= !vim ./.gitignore && git a .gitignore	# IGnore
	bk	= reset --hard							# BacK
	r	= rebase								# Rebase
	ri	= rebase -i								# Rebase Interactive
	rc	= rebase --continue						# Rebase Continue
	ra	= rebase --abort						# Remove Abort
	pxy	= "!\
		c=\"$(cat ~/.gitconfig)\";\
		c_=\"${c/\tproxy =/\t# proxy =}\";\
		if [ \"$c\" = \"$c_\" ]; then\
			c_=\"${c/\t# proxy =/\tproxy =}\";\
			echo \"git proxy on\";\
		else\
			echo \"git proxy off\";\
		fi;\
		echo \"$c_\" > ~/.gitconfig;\
	"
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictstyle = diff3
[diff]
    colorMoved = default
