[include]
    path = .gitconfig-local
[user]
    email = fork_killet@outlook.com
    name = ForkΨKILLET
[credential]
    helper = store
[core]
    editor = env vim
    pager = delta
    commentChar = "#"
[init]
    defaultBranch = main
[pull]
    rebase = false
[http]
    sslverify = false
[alias]
    e   = !vim ~/.gitconfig                             # Edit config
    el  = !vim ~/.gitconfig-local                       # Edit Local config
    l   = log --graph --all                             # Log
    la  = log -1 HEAD                                   # Log lAst
    lo  = log --graph --all --oneline                   # Log Oneline
    ll  = log --graph --all --not --remotes             # Log Local
    lol = log --graph --all --oneline --not --remotes   # Log Oneline Local
    lr  = reflog                                        # RefLog
    s   = status                                        # Status
    d   = diff                                          # Different
    dc  = diff --cached                                 # Different Cached
    da  = diff --cached HEAD~                           # Different lAst
    a   = add                                           # Add
    aa  = add .                                         # Add All
    ac  = !git aa && git c                              # Add all and Commit
    rmc = rm --cached                                   # Remove Cached
    c   = commit                                        # Commit
    ca  = commit --amend                                # Commit Amend
    can = !git ca --no-edit                             # Commit Amend No edit
    aca = !git aa && git ca                             # Add all and Commit Amend
    acan= !git aa && git can                            # Add all and Commit Amend No edit
    co  = checkout                                      # CheckOut
    b   = branch                                        # Branch
    bs  = switch                                        # Branch Switch
    p   = push                                          # Push
    q   = pull                                          # Pull
    rem = remote                                        # REMote
    ig  = !vim ./.gitignore && git a .gitignore         # IGnore
    rs  = reset --soft                                  # Reset Soft
    rh  = reset --hard                                  # Reset Hard
    re  = reset --hard HEAD@{1}                         # REdo
    rsa = reset --soft HEAD~                            # Reset Soft lAst
    rha = reset --hard HEAD~                            # Reset Hard lAst
    r   = rebase                                        # Rebase
    ri  = rebase -i                                     # Rebase Interactive
    rc  = rebase --continue                             # Rebase Continue
    ra  = rebase --abort                                # Rebase Abort
    m   = merge                                         # Merge
    ma  = merge --abort                                 # Merge
    cp  = cherry-pick                                   # Cherry Pick
    cpa = cherry-pick --abort                           # Cherry Pick About
    cpc = cherry-pick --continue                        # Cherry Pick Continue
    sh  = show                                          # SHow
    shs = show --name-status                            # SHow name Status
    cf  = clang-format                                  # Clang Format
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[commit]
    gpgsign = true
[push]
    followTags = true
[rerere]
    enabled = true
